/* Basic styling for custom modal */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: white !important;
  color: black !important;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.custom-modal-content button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.custom-modal-content text {
  color: red !important;
}

#confirm-btn {
  background-color: #4caf50;
  color: white;
}

#cancel-btn {
  background-color: #f44336;
  color: white;
}
